@model ProductScraper.Models.EntityModels.ScrapeConfig

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ScrapeConfig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNamePath" class="control-label"></label>
                <input asp-for="ProductNamePath" class="form-control" />
                <span asp-validation-for="ProductNamePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPricePath" class="control-label"></label>
                <input asp-for="ProductPricePath" class="form-control" />
                <span asp-validation-for="ProductPricePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSecondPricePath" class="control-label"></label>
                <input asp-for="ProductSecondPricePath" class="form-control" />
                <span asp-validation-for="ProductSecondPricePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductAvailabilityPath" class="control-label"></label>
                <input asp-for="ProductAvailabilityPath" class="form-control" />
                <span asp-validation-for="ProductAvailabilityPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
